@import "tailwindcss";
/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #f9fafb;
  --text-light: #111827;
  --bg-dark: #09090b;
  --text-dark: #fafafa;
}


body {
  @apply transition-colors duration-300;
}

body.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}
